{% extends "layout/main.twig" %}

{% block title %}
    Rupieciarnia - Błąd
{% endblock %}

{% block content %}
    <p>Wystąpił nieoczekiwany błąd. Kliknij <a href="/">tutaj</a>, aby powrócić na stronę główną.</p>
{% endblock %}