{% extends "layout/main.twig" %}

{% block title %}
    Rupieciarnia - Zarejestruj się
{% endblock %}

{% block content %}
    {{ message }}
    <p>
        Rupieciarnia to serwis internetowy pozwalający użytkownikom na wymianę przedmiotami.
        Użytkownik wypełnia formularz, w którym zamieszcza nazwę przedmiotu, jego opis
        oraz to, co chce za niego otrzymać(pieniądze, inny przedmiot, usługa itp.) i czeka na
        kontakt od osoby zainteresowanej przedmiotem. Oczywiście, forma działania serwisu pozwala
        na wystawienie nie tylko przedmiotów, ale także np. ogłoszeń.
        </br></br>
        Ogłoszenia mogą przeglądać wszyscy, jednak dodawać nowe ogłoszenia mogą jedynie zarejestrowani użytkownicy.
        <a href="/register">Zarejestruj się</a>, jeśli jeszcze nie posiadasz konta w serwisie. W przeciwnym wypadku,
        przejdź do <a href="/login">strony logowania</a>.
    </p>
{% endblock %}