{% extends "layout/main.twig" %}

{% block title %}
    Rupieciarnia - Wylogowano z serwisu.
{% endblock %}

{% block content %}
    <p>Zostałeś pomyślnie wylogowany. Kliknij <a href="/">tutaj</a>, aby powrócić na stronę główną.</p>
{% endblock %}