{% extends "layout/main.twig" %}

{% block title %}
    Rupieciarnia - Tylko dla użytkowników.
{% endblock %}

{% block content %}
    <p>Tylko zarejestrowani użytkownicy mają dostęp do tej sekcji. <a href="/login">Zaloguj się</a> lub <a href="/register">Zarejestruj</a>.</p>
{% endblock %}