{% extends "layout/main.twig" %}

{% block title %}
    Rupieciarnia - Zarejestruj się
{% endblock %}

{% block content %}
    <h3>Zarejestruj się</h3>
    <form class="form-horizontal" action="/add_user" method="post">
        {{ message }}
        <p color="blue">Podaj login i hasło</p>
        <p>Login: <input type="text" name="username" /></p>
        <p>Hasło: <input type="password" name="password" /></p>
        <p>Powtórz hasło: <input type="password" name="passwordAgain" /></p>
        <p><input type="submit" value="Zarejestruj się" /></p>
    </form>
{% endblock %}