{% extends "layout/main.twig" %}

{% block title %}
    Rupieciarnia - Potwierdzenie dodania itemu
{% endblock %}

{% block content %}
    <h3>Gratulacje! Dodałeś przedmiot. Ogłoszenie zostanie automatycznie usunięte po 3 dniach - jeśli chcesz, możesz je potem dodać ponownie.</h3>
{% endblock %}