{% extends "layout/main.twig" %}

{% block title %}
    Rupieciarnia - Potwierdzenie rejestracji
{% endblock %}

{% block content %}
<h3>Gratulacje! Udało ci się poprawnie zarejestrować w serwisie.</h3>
{% endblock %}